{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

<h2>Edit Movie</h2>

<form method="POST" enctype="multipart/form-data">

{% csrf_token %}

<input name="title" value="{{movie.title}}" class="form-control mb-2">

<textarea name="description" class="form-control mb-2">
{{movie.description}}
</textarea>

<select name="category" multiple class="form-control mb-2">

{% for c in categories %}

<option value="{{c.id}}"
{% if c in movie.category.all %}
selected
{% endif %}
>
{{c.name}}
</option>

{% endfor %}

</select>

<input name="age" value="{{movie.age_rating}}" class="form-control mb-2">

<input name="poster" class="form-control mb-3" placeholder="Poster Image URL">

<input name="banner" class="form-control mb-3" placeholder="Banner Image URL">

<input name="trailer" value="{{movie.trailer}}" class="form-control mb-2">

<input name="actors" value="{{movie.actors}}" class="form-control">

<input name="director" value="{{movie.director}}" class="form-control">

<input name="duration" value="{{movie.duration}}" class="form-control">

<button class="btn btn-cinema">
Update
</button>

</form>

</div>

{% endblock %}