{% extends 'base.html' %}

{% block content %}

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">

<div class="carousel-inner">

{% for m in movies %}

<div class="carousel-item {% if forloop.first %}active{% endif %}">

<img src="{{m.banner}}" class="d-block w-100 banner">

</div>


{% endfor %}

</div>

<div class="container mt-4 text-center">

<a href="/" class="btn btn-outline-light m-2">All</a>

{% for c in categories %}
<a href="/?category={{c.id}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" 
   class="btn btn-outline-info m-2 px-3">
{{c.name}}
</a>
{% endfor %}

</div>

</div>


<div class="container mt-5">

<h3>🎬 Movies</h3>

<div id="movie-list" class="row">

{% for m in movies %}

<div class="col-md-3 mb-4">

<div class="movie-card position-relative">

<span class="age-badge">{{m.age_rating}}</span>

<img src="{{m.poster}}" class="movie-img">

<div class="p-3">

<h5>{{m.title}}</h5>

<a href="{% url 'movie_detail' m.id %}" class="btn btn-cinema w-100">🎫จองตั๋วหนัง</a>

</div>

</div>

</div>

{% endfor %}

</div>

</div>

{% endblock %}