{% extends 'base.html' %}

{% block content %}

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">

<div class="carousel-inner">

{% for m in movies %}

<div class="carousel-item {% if forloop.first %}active{% endif %}">
<div class="carousel-caption">
   <img src="{{m.banner}}" class="d-block w-100 banner">
    <h1 style="text-shadow: 2px 2px 10px rgba(0,0,0,1);">YOSHI CINEMA</h1>
    <p>สัมผัสประสบการณ์การดูหนังที่เหนือระดับ จองง่าย ได้ที่นั่งชัวร์</p>
</div>
</div>


{% endfor %}

</div>

<div class="container mt-4 text-center">

<a href="/" class="btn btn-outline-light m-2">All</a>

{% for c in categories %}
<a href="/?category={{c.id}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}" 
   class="btn btn-outline-info m-2 px-3">
{{c.name}}
</a>
{% endfor %}

</div>

</div>


<div class="container mt-5">

<h3>🎬 Movies</h3>

<div id="movie-list" class="row">

{% for m in movies %}
<div class="col-md-3 mb-4">
    <div class="movie-card position-relative" style="height: 100%;">
        <span class="age-badge">{{m.age_rating}}</span>
        <img src="{{m.poster}}" class="movie-img w-100">
        
        <div class="p-3">
            <h5 class="text-white">{{m.title}}</h5>
            
            <a href="{% url 'movie_detail' m.id %}" 
               class="btn btn-cinema w-100" 
               style="position: relative; z-index: 5;">
               🎫จองตั๋วหนัง
            </a>
        </div>
    </div>
</div>
{% endfor %}

</div>

</div>

{% endblock %}