{% extends 'base.html' %}

{% block content %}
<style>
.auth-box{
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(15px);
    border-radius:20px;
    box-shadow:0 0 30px rgba(255,78,205,0.3);
    border:1px solid rgba(255,255,255,0.1);
}

.auth-title{
    font-family:'Orbitron';
    background: linear-gradient(90deg,#ff4ecd,#5a6cff,#00d4ff);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.input-dark{
    background:#111 !important;
    border:none;
    color:white;
}

.input-dark:focus{
    background:#111;
    color:white;
    box-shadow:0 0 10px #5a6cff;
}

.btn-cinema{
    background: linear-gradient(45deg,#ff4ecd,#5a6cff);
    border:none;
    transition:0.3s;
}

.btn-cinema:hover{
    transform:scale(1.05);
    box-shadow:0 0 15px #ff4ecd;
}
</style>

<div class="container mt-5">
<div class="row justify-content-center">
    <div class="col-md-4">

        <div class="auth-box p-4 text-white">
            <h3 class="text-center mb-4 auth-title">🎬 LOGIN</h3>

            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label>Username</label>
                    <input type="text" name="username" class="form-control input-dark" required>
                </div>

                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control input-dark" required>
                </div>

                <button class="btn btn-cinema w-100">เข้าสู่ระบบ</button>
            </form>

            <p class="text-center mt-3">
                ยังไม่มีบัญชี? 
                <a href="{% url 'register' %}" class="text-info">สมัครสมาชิก</a>
            </p>
        </div>

    </div>
</div>
</div>
{% endblock %}