{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

<div class="row align-items-start">

<!-- 🎬 ซ้าย -->
<div class="col-md-4">
<img src="{{movie.poster}}" class="movie-poster w-100">
</div>

<!-- 📄 ขวา -->
<div class="col-md-8">

<h2 class="mb-2">{{movie.title}}</h2>

<!-- ⭐ + ❤️ -->
<div class="mb-3">
⭐ 4.5 
<a href="/favorite/{{movie.id}}" class="btn btn-sm btn-danger ms-2">
❤️ Favorite
</a>
</div>

<p class="text-light">{{movie.description}}</p>

<hr>

<p>🎭 <b>นักแสดง:</b> {{movie.actors}}</p>
<p>🎬 <b>ผู้กำกับ:</b> {{movie.director}}</p>
<p>⏱ <b>ความยาว:</b> {{movie.duration}} นาที</p>

<p>
🎬 <b>ประเภท:</b>
{% for c in movie.category.all %}
<span class="badge bg-info">{{c.name}}</span>
{% endfor %}
</p>

<p>
🔞 <span class="badge bg-danger">{{movie.age_rating}}</span>
</p>

<!-- 🎟 ปุ่ม -->
<a href="/seat/{{movie.id}}" class="btn btn-success mb-3">
🎟 จองตั๋ว
</a>

<!-- ⭐ rating -->
<form method="POST" action="/rate/{{movie.id}}/" class="mb-3">
{% csrf_token %}

<select name="score" class="form-select w-50 mb-2">
<option value="5">⭐⭐⭐⭐⭐</option>
<option value="4">⭐⭐⭐⭐</option>
<option value="3">⭐⭐⭐</option>
</select>

<button class="btn btn-warning">ให้คะแนน</button>
</form>

<!-- 🎥 Trailer -->
<div class="ratio ratio-16x9 mt-4">
<iframe src="{{trailer}}" allowfullscreen></iframe>
</div>

</div>

</div>

</div>

{% endblock %}