{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

<div class="d-flex justify-content-between align-items-center mb-4">
    <h5>ยินดีต้อนรับ {{ user.username }}</h5>
    <h3>🎟 ตั๋วของฉัน</h3>
    
    <a href="/" class="btn btn-cinema">
        ⬅ กลับหน้าแรก
    </a>
</div>

<div class="row">

{% for t in tickets %}

<div class="col-md-4">

<div class="card bg-dark text-white p-3 mb-3">

<h5>{{t.movie.title}}</h5>

<p>Seat : {{t.seat}}</p>

<p>{{t.created_at}}</p>

</div>

</div>

{% endfor %}

</div>

</div>

{% endblock %}